body {
  font-family: Georgia, serif;
  background-color: #e7e7e7;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */
img {
  max-width: 10%;
  max-height: 10%;
}